{% extends 'base.html.twig' %}

{% block title %} {{ image.filename }} {% endblock %}

{% block header %} {% endblock %}

{% block main %}
	<section class="flex flex-col items-center justify-center min-h-100 mt-10 gap-4 bg-base-200">
		<h2 class="text-3xl font-bold">{{ image.filename }}</h2>
		<article class="card bg-base-100 w-96 shadow-sm">
			<figure>
				<img src="{{ image.url }}" alt="Image" />
			</figure>
			<div class="card-body bg-base-100">
				<a href="http://localhost:8002/api/image/download/{{ image.filename }}" class="btn btn-primary w-full" download>
					Télécharger l'image
				</a>
			</div>
		</article>
	</section>

	<section class="flex flex-col items-center justify-center min-h-50 gap-4 bg-base-200">
		<h2 class="text-3xl font-bold">Stats de l'image</h1>
		
		<div class="stats shadow">
			<div class="stat">
				<div class="stat-title">Vue</div>
				<div class="stat-value">{{ stats.view }}</div>
			</div>
			
			<div class="stat">
				<div class="stat-title">Téléchargement</div>
				<div class="stat-value">{{ stats.download }}</div>
			</div>
			
			<div class="stat">
				<div class="stat-title">Requete Url</div>
				<div class="stat-value">{{ stats.request }}</div>
			</div>
		</div>
	</section>
{% endblock %}